# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=4000
DATABASE_URL=file:./dev.db
FRONT_URL=http://localhost:5173
JWT_SECRET=JWT_SECRET
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=ton.adresse@gmail.com
SMTP_PASS=mot_de_passe_app
FROM_NAME=NomDeTonApp
FROM_EMAIL=ton.adresse@gmail.com